In [1]:
import numpy as np
import pandas as pd
import scipy
import seaborn as sns
from math import sqrt
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
%matplotlib inline

In [2]:
rawData = pd.read_csv('CreditOne.csv',index_col=0)
rawData.head()

,ID,LIMIT_BAL,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT5,PAY_AMT6,SEX_female,SEX_male,EDUCATION_graduate school,EDUCATION_high school,EDUCATION_other,EDUCATION_university,default payment next month_default,default payment next month_not default
0,1,20000,1,24,2,2,-1,-1,-2,-2,...,0,0,1,0,0,0,0,1,1,0
1,2,120000,2,26,-1,2,0,0,0,2,...,0,2000,1,0,0,0,0,1,1,0
2,3,90000,2,34,0,0,0,0,0,0,...,1000,5000,1,0,0,0,0,1,0,1
3,4,50000,1,37,0,0,0,0,0,0,...,1069,1000,1,0,0,0,0,1,0,1
4,5,50000,1,57,-1,0,-1,0,0,0,...,689,679,0,1,0,0,0,1,0,1

In [3]:
rawData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 0 to 30202
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      30000 non-null  int64
 1   LIMIT_BAL                               30000 non-null  int64
 2   MARRIAGE                                30000 non-null  int64
 3   AGE                                     30000 non-null  int64
 4   PAY_1                                   30000 non-null  int64
 5   PAY_2                                   30000 non-null  int64
 6   PAY_3                                   30000 non-null  int64
 7   PAY_4                                   30000 non-null  int64
 8   PAY_5                                   30000 non-null  int64
 9   PAY_6                                   30000 non-null  int64
 10  BILL_AMT1                               30000 non-null  int64
 11  BILL_AMT2                               30000 non-null  int64
 12  BILL_AMT3                               30000 non-null  int64
 13  BILL_AMT4                               30000 non-null  int64
 14  BILL_AMT5                               30000 non-null  int64
 15  BILL_AMT6                               30000 non-null  int64
 16  PAY_AMT1                                30000 non-null  int64
 17  PAY_AMT2                                30000 non-null  int64
 18  PAY_AMT3                                30000 non-null  int64
 19  PAY_AMT4                                30000 non-null  int64
 20  PAY_AMT5                                30000 non-null  int64
 21  PAY_AMT6                                30000 non-null  int64
 22  SEX_female                              30000 non-null  int64
 23  SEX_male                                30000 non-null  int64
 24  EDUCATION_graduate school               30000 non-null  int64
 25  EDUCATION_high school                   30000 non-null  int64
 26  EDUCATION_other                         30000 non-null  int64
 27  EDUCATION_university                    30000 non-null  int64
 28  default payment next month_default      30000 non-null  int64
 29  default payment next month_not default  30000 non-null  int64
dtypes: int64(30)
memory usage: 7.1 MB

In [4]:
X=rawData.drop('LIMIT_BAL', axis=1)
y=rawData['LIMIT_BAL']

In [5]:
model = LinearRegression(n_jobs=10)

In [6]:
print(cross_val_score(model, X, y, cv=3))

[0.35568359 0.3804519  0.33459622]

In [8]:
X=rawData.drop('LIMIT_BAL', axis=1)
y=rawData['LIMIT_BAL']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [10]:
algosClass = []

In [11]:
algosClass.append(('Random Forest Regressor',RandomForestRegressor()))

In [12]:
algosClass.append(('Linear Regression',LinearRegression()))

In [13]:
algosClass.append(('Support Vector Regression',SVR()))

In [14]:
results = []
names = []
for name, model in algosClass:
    result = cross_val_score(model, X,y, cv=3, scoring='r2')
    names.append(name)
    results.append(result)

In [15]:
for i in range(len(names)):
    print(names[i],results[i].mean())

Random Forest Regressor 0.42607802626509406
Linear Regression 0.3569105697423523
Support Vector Regression -0.05039497235004838

In [16]:
algoRF=RandomForestRegressor()
modelRF=algoRF.fit(X_train,y_train)

In [17]:
predictions = modelRF.predict(X_test)
predRsquared = r2_score(y_test,predictions)
rmse = sqrt(mean_squared_error(y_test, predictions))
print('R Squared: %.3f' % predRsquared)
print('RMSE: %.3f' % rmse)

R Squared: 0.471
RMSE: 93552.121